/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#banner h1 {
   font-size: 300%;
   font-style: italic;
   background: none;
   padding: 30px;
   padding-bottom: 60px;
   border-bottom: 2px solid;
   color: #ff0;
   text-align: center;
   position: relative;
}
   
#banner img {
     float: left;
     padding-left: 70px;
 }

#login, #alert {
   padding: 0px 10px 10px 5px;
}

.actions input[type="submit"], button {
  background: #ff0;
  padding: 5px 10px;
  color: #000;
  border: none;
  text-decoration: none;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#description p {
    font-size: 1.5em;
}

#content {
	 background-color: #000;
	 margin-left: 150px;
	 margin-right: 30px;
	 padding-top: 1px;
	 padding-left: 20px;
	 padding-right: 5px;
	 padding-bottom: 30px;
}

#wrapper {
	 background-color: #000;
	 min-width: 800px;
	 border: 2px solid #ff0;
	 box-shadow: 8px 8px 8px #ff0;
	 width: 80%;
	 margin-right: auto;
	 margin-left: auto;
}

hr {
    color: #ff0;
}
